
.detail_fondo{
    width: 100%;
    height: 100%;
    background-image: url('../../assets/fondoHome.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    overflow: hidden;
}
.detail_container{
    padding: 40px;
    width: 100%;
    height: 100%;
    /* background-color: rgb(26, 120, 88); */
     
}
.detail_img {
    display: inline-block;
    text-align: start;
}

.detail_img img {
    width: 10em;
    height: 20em;
}
.detail_container_butonn_home{
    width: 100%;
    text-align: start;
}
.detail_container_butonn_home button {
    font-size: 1em;
}

/*




.detail_container h3 {
    color: yellow;
    font-size: 5em;
}
.detail_etiqueta{
    font-size: 1.2em;
    font-weight: bold;
    color: yellow;
}
.detail_teams{
    margin-left: 3em;
}

*/
.detail_container_card {
    padding: 40px;
    /* background-color: blue; */
    
}
.detail_container p {
    display: inline-block;
    width: 70%;
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10em;
    text-align: start;
    font-size: 1.5em;
    color: yellow;
}
/* .detail_container button {
    font-size: 2em;
} */