.container_principal_card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 0;
}


.card_container{
  width: 20vw;
  height: 20vh;
  
  background-color: rgb(75, 130, 178, 0.5);
  border-radius: 4.5em;
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  cursor: pointer;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}
.card_container img {
  width: 50em;
  height: 75em;
}

.card_container:hover {
    transform: scale(1.05);
}

.img_container{
  
  width: 50%; /* Establece el ancho del contenedor según tus necesidades */
  height: 100%; /* Establece la altura del contenedor según tus necesidades */
  text-align: center; /* Centra horizontalmente */
  display: flex; /* Centra verticalmente */
  align-items: center; /* Centra verticalmente */
  overflow: hidden;
}
.img_container img{
  border-radius: 4.5em;
  max-width: 100%; /* La imagen no superará el ancho del contenedor */
  max-height: 100%; /* La imagen no superará la altura del contenedor */
  height: auto; /* Mantiene la proporción original de la imagen */
  display: block; /* Elimina el espacio adicional debajo de la imagen */
  margin: auto; /* Centra la imagen dentro del contenedor */
  }

  .texto_container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: yellow;
    font-size: 3em;
    text-align: left;
    margin-left: 1em;
    width: 50%;
    height: 100%;
  }
  .texto_container h2{
    text-align: left;
    
    margin: 0.4em 1em;
  }
  .texto_container_name{
    display: block;
  }
  .texto_container_teams{
    display: flex;
    flex-wrap: wrap;
  }
  .texto_container_teams span{
    margin: 0.3em;
  }
  ul {
    list-style-type: none; /* Quita las viñetas */
    margin: 0;
    padding: 0;
  }

