body {
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav_container{
    display: flex;
    background-color: #0ccac4;
    width: 100vw;
    height: auto;
}
.nav_container_navbar{
    width: 70%;
}
.buscar_team{
    width: 30%;
}
.home {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-image: url('../../assets/fondoHome.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Agrega esta línea */
    overflow: hidden; /* Agrega esta línea */
}

.home button {
    margin: 0 0.5em;
    font-size: 2.5em;
}
.home input {
    font-size: 2.5em;
}

  