body {
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav_container{
    display: flex;
    justify-content: center;
    /* background-color: #0ccac4; */
    width: 100vw;
    height: 7vh;
    margin-top: 6vh;
    margin-bottom: 6vh;

}
.nav_container_navbar{
    width: 70%;
}
.buscar_team{
    width: 30%;
}
.home {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-image: url('../../assets/fondoHome.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Agrega esta línea */
    overflow: hidden; /* Agrega esta línea */
    
}

.home button {
    margin: 0 0.5em;

    padding: 0.3em 0.5em;
    font-size: 4em;
    
    transition: all 0.9s ease;
}
.home button:hover {
    border: 2px solid #1a1a1a;
    border-radius: 20px;
    background-color: #41e6e5;
    color: #1a1a1a;
}
.nav_container input {
    font-size: 4em;
    width: 6em;
}





  