.list {
    width: 90vw;
    height: 100%;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 120px 60px; /* Separación vertical de 20px, separación horizontal de 30px */
    height: 600px;
}
.list > * {
    height: 100%; /* Garantiza que las celdas se expandan a la altura especificada */
}
.cards_container_principal{
    /* background-color: pink; */
    height: 100vh;
   
}

.cards_container_principal_but {
    margin-bottom: 10em;
}