/* styles para la landing page en Landing.module.css */
  body {
    margin: 0; /* Puede ser necesario ajustar otros estilos relacionados con el body */
  }
  
  .container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-image: url('../../assets/fondoLanding.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden; 
  }
  .title {
    margin-top: 3em;
    font-size: 100px;
    position: relative;
    left: 56px;
    text-shadow: 2px 2px 5px yellow; 
  }
  .but{
    position: relative;
    left: 56px;
    padding: 0.3em;
    font-size: 4em;
    width: 5em;
    transition: all 0.9s ease;
  }

  .but:hover {
    border: 2px solid #1a1a1a;
    border-radius: 20px;
    background-color: #41e6e5;
    color: #1a1a1a;
  }