/* styles para la landing page en Landing.module.css */
  body {
    margin: 0; /* Puede ser necesario ajustar otros estilos relacionados con el body */
  }
  
  .container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-image: url('../../assets/fondoLanding.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden; /* Agrega esta línea */
  }
  .title {
    font-size: 100px;
    /* line-height: 1.1; */
  }
  .but{
    padding: 10px;
    font-size: 80px;
    width: 400px;
  }

  .but:hover {
    border: 8px solid #1a1a1a;
    border-radius: 20px;
    background-color: #41e6e5;
    color: #1a1a1a;
  }